body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
  }

.navbar-brand {
    font-weight: bold;
  }

  .hero-image {
    width:100%;
    min-height:500px;
    height:fit-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    position:relative;
    border-image: fill 0
      linear-gradient(to right, rgba(0, 255, 153, 0.5), rgba(0, 161, 254, 0.5));
  }

  .hero-header-text {
    text-align: center;
    position: relative;
    color:white;
    text-shadow: 0 0 5px #333;
    max-width: 80%;
    margin-top: 1%;
  }

.hero-header-text h1, p {
  margin-bottom: 2%;
}

.logo-scroll {
  height: max-content;
  position: relative;
  overflow: hidden;
}

.logos {
  width:  max-content;
}

.circle img {
  object-fit: cover;
  overflow:hidden;
  height: max-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 5px #333;
  margin: 5px;
}

.logos img {
  height: 125px;
  margin: 10px;
}

.testimonial img {
  height: 200px;
}

.quote:before,
.quote:after{
  font-family:"Font Awesome 5 Free"; font-weight: 900;
  text-shadow: rgba(52, 58, 64,0.5) 1px 1px 2px;
  font-size: 17px;
  position: relative;
}
.quote:before{
  content: "\f10d";
  color: #00ff99;
  margin-right: 5px;
  top: 0;
  left: 0;
}
.quote:after{
  content: "\f10e";
  color: #00a1fe;
  margin-left: 5px;
  position: relative;
  bottom: 0;
  right: 0;
}

.secondary-background {
  background-color: #C2FFEF;
}



/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
gmp-map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}